.popup {

  position: fixed;
  top: 0;
  left: 0;
  perspective: 800px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.popupwrapper {
  transform-origin: top;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(185, 87, 87, 0.9);
  transform-style: preserve-3d;
  animation: rotateIn 1s cubic-bezier(0.84, 0.01, 0.68, 1);
}

.popupwrapper.rotateout{
  animation: rotateOut 1s cubic-bezier(0.84, 0.01, 0.68, 1);;
}

@keyframes rotateIn{
  0%{
    transform: rotateX(240deg);
  }
  100%{
    transform: rotateX(360deg);
  }
}

@keyframes rotateOut{
  0%{
    transform: rotateX(360deg);
  }
  100%{
    transform: rotateX(240deg);
  }
}


.close {
  position: absolute;
  top: 5vh;
  right: 4vw;
  font-size: 40px;
  z-index: 10;
}

.popupdetails{
  height: 100%;
  width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.popupinfo{
  text-align: center;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe{
    aspect-ratio: 16/9;
    width: 50%;
    height: auto;
    border-radius: 10px;
    border-style: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  iframe{
    width: 100%;
  }
}