.popup {
  transform-origin: top;
  position: fixed;
  top: 0;
  left: 0;
  perspective: 800px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.popupwrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 119, 119, 0.5);
  transform-style: preserve-3d;
}


.close {
  position: absolute;
  top: 5vh;
  right: 4vw;
  font-size: 40px;
}

.popupdetails{
  height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.popupinfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe{
    aspect-ratio: 16/9;
    width: 916px;
    height: auto;
    border-radius: 10px;
    border-style: none;
}